/* assets/css/style.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
}

header h1 {
    font-size: 2.5rem;
}

header h2 {
    font-size: 2rem;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

/* Sección de habilidades técnicas */
table {
    width: 100%;
}

th,
td {
    padding: 1rem;
    text-align: left;
}

/* Sección de proyectos */
.project img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
}