/* Variables de CSS */
:root {
    --primary-color: #007bff;
    --secondary-color: #28a745;
    --background-color: #f4f4f4;
    --text-color: #333;
    --header-bg-color: #333;
    --header-text-color: #fff;
    --border-color: #ddd;
    --hover-bg-color: #0056b3;
    --secondary-hover-bg-color: #1e7e34;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    background: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

header p {
    margin: 10px 0;
}

.btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--hover-bg-color);
}

/* Sección de habilidades técnicas */
#skills table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#skills th,
#skills td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

#skills th {
    background-color: var(--primary-color);
    color: #fff;
}

/* Sección de proyectos */
.project {
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.project p {
    color: #555;
}

.project .btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project .btn-secondary:hover {
    background-color: var(--secondary-hover-bg-color);
}

/* Sección de contacto */
#contact ul {
    list-style: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: var(--header-text-color);
    margin: 0 10px;
    transition: color 0.3s ease;
}

social-icons a:hover {
    color: var(--primary-color);
}

/* Estilos adicionales para mejorar la visualización */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h2 {
    margin-top: 30px;
    font-size: 2rem;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

/* Añadir margen a las secciones */
section {
    padding: 40px 0;
}

/* Media Queries para diseño responsive */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header h2 {
        font-size: 1.5rem;
    }

    .btn,
    .project .btn-secondary {
        padding: 8px 16px;
    }

    h2 {
        font-size: 1.5rem;
    }
}